.github
.husky
.vscode
.vscode-test
.vscode-test-web
node_modules
out/test
scripts
src
testFixture

Dagor-Shader-Language-Server/.github
Dagor-Shader-Language-Server/.husky
Dagor-Shader-Language-Server/.vscode
Dagor-Shader-Language-Server/grammar/antlr
Dagor-Shader-Language-Server/node_modules
Dagor-Shader-Language-Server/src

**/.editorconfig
**/.eslintrc.js
**/.git
**/.gitattributes
**/.gitignore
**/.gitmodules
**/.prettierignore
**/.prettierrc.json
**/*.vscodeignore
**/BUILD.md
**/package-lock.json
**/tsconfig.json
**/tsconfig.test.json
**/webpack.config.js
**/*.ts
**/*.map

Dagor-Shader-Language-Server/CHANGELOG.md
Dagor-Shader-Language-Server/README.md
Dagor-Shader-Language-Server/package.json


# platform-specific ignore

Dagor-Shader-Language-Server/bin
